
:root {
    --neon-orange: #ffbc37;
    --neon-blue: #00f3ff;
    --neon-green: #73ff00;
    --dark-green: #1c441e;
    --white-bg: #ffffff;
    --white-bgs: #ffffff;
    --card-bg: #ffffff;
    --text-primary: #000000;
    --text-secondary: #0f0f0f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, var(--white-bgs) 0%, var(--white-bg) 100%);
    color: var(--text-primary);
    font-family: 'Exo 2', sans-serif;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
    background: var(--card-bg);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 0 25px rgba(15, 8, 55, 0.79),
                0 0 50px rgb(3, 3, 3);
    border: 1px solid rgba(0, 0, 0, 0.87);
    position: relative;
    overflow: hidden;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-primary);
    font-weight: 700;
    letter-spacing: 1px;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-secondary);
    font-size: 16px;
}

input {
    width: 100%;
    padding: 14px;
    background: rgba(248, 248, 248, 0.6);
    border: 1px solid rgba(0, 243, 255, 0.3);
    border-radius: 8px;
    color: var(--text-primary);
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus {
    outline: none;
    border-color: var(--neon-orange);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

button {
    width: 100%;
    padding: 16px;
    background: linear-gradient(45deg, var(--dark-green), var(--dark-green));
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

button:disabled {
    background: linear-gradient(45deg, #555, #777);
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.error-message {
    color: #ff3860;
    font-size: 14px;
    margin-top: 8px;
    display: none;
    /* text-shadow: 0 0 5px rgba(255, 56, 96, 0.7); */
}

.invalid {
    border: 2px solid red !important;
}
